<!--The content below is only a placeholder and can be replaced.-->
<div class="view">
  <h1>
    Welcome to {{ name }}! Age is {{age}}
  </h1>
  <h2>SPA Family</h2>

  <a routerLink="family">Family</a>
  <a routerLink="todo">ToDo</a>
  <a routerLink="template">Template Form</a>
  <a routerLink="modelform">ModelForm</a>
  <a routerLink="autosearch">Auto Search</a>
  <a routerLink="localservice">Local Service 1</a>
  <a routerLink="remoteservice">Remote Service 1</a>
  <a routerLink="animation">Animation</a>
  <a routerLink="eventbinding">Event Binding</a>
  <a routerLink="directive">InBuilt Directive</a>
  <a routerLink="customdirective">Custom Directive</a>
  <a routerLink="crudoperations">Crud Operations</a>
 
  <router-outlet></router-outlet>
</div>

 
